<div class="bar">
    <div class="topMenu">
        <h1>@Topsite_Share.Localization.Share.MenuName</h1>
    </div>
    <div class="content">
        <div class="padding10">
            <!-- AddThis Button BEGIN -->
            <div id="social">
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_compact"></a>
                </div>
            </div>
            <script type="text/javascript">var addthis_config = { "data_track_addressbar": false };</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-505ed5076fcb4671"></script>

            <!-- AddThis Button END -->
        </div>
    </div>
</div>
