@using Localization.Languages.Views.Cp
@Html.Partial("~/Themes/LightBlue/Views/Partials/CP_Navigation.cshtml")

<div class="bar">
    <div class="topMenu"><h1>@Index.MenuName</h1></div>
    <div class="content">
        @Index.Description
    </div>
</div>